<section id="kanbu" class="kanbu">
  <h1>
    <div class="main-ttl">
      <div class="main-ttl-letters">幹部陣</div>
      <div class="main-ttl-line"></div>
    </div>
  </h1>
  <div class="main-content flex">
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.a.image %>" alt="<%- kanbu.a.role %>" />
      <h4><%- kanbu.a.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.a.image %>" alt="<%- kanbu.a.role %>" />
      <p class="kanbu_info"><%- kanbu.a.name %><br /><%- kanbu.a.group %></p>
    </div>
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.b.image %>" alt="<%- kanbu.b.role %>" />
      <h4><%- kanbu.b.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.b.image %>" alt="<%- kanbu.b.role %>" />
      <p class="kanbu_info"><%- kanbu.b.name %><br /><%- kanbu.b.group %></p>
    </div>
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.c.image %>" alt="<%- kanbu.c.role %>" />
      <h4><%- kanbu.c.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.c.image %>" alt="<%- kanbu.c.role %>" />
      <p class="kanbu_info"><%- kanbu.c.name %><br /><%- kanbu.c.group %></p>
    </div>
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.d.image %>" alt="<%- kanbu.d.role %>" />
      <h4><%- kanbu.d.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.d.image %>" alt="<%- kanbu.d.role %>" />
      <p class="kanbu_info"><%- kanbu.d.name %><br /><%- kanbu.d.group %></p>
    </div>
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.e.image %>" alt="<%- kanbu.e.role %>" />
      <h4><%- kanbu.e.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.e.image %>" alt="<%- kanbu.e.role %>" />
      <p class="kanbu_info"><%- kanbu.e.name %><br /><%- kanbu.e.group %></p>
    </div>
    <div class="rect">
      <img class="kanbu-bg" src="<%- kanbu.f.image %>" alt="<%- kanbu.f.role %>" />
      <h4><%- kanbu.f.role %></h4>
      <img class="kanbu-img" src="<%- kanbu.f.image %>" alt="<%- kanbu.f.role %>" />
      <p class="kanbu_info"><%- kanbu.f.name %><br /><%- kanbu.f.group %></p>
    </div>
  </div>
</section>
