<section id="intro" class="intro">
  <h1>
    <div class="main-ttl">
      <div class="main-ttl-letters">サークル概要</div>
      <div class="main-ttl-line"></div>
    </div>
  </h1>
  <div class="main-content flex">
    <div class="main-content-col -left">
      <img src="img/logo.png" alt="misw_logo" />
      <p>―早稲田大学経営情報学会―</p>
      <p>Management Information Society of Waseda University</p>
    </div>
    <div class="main-content-col -right">
      <table>
        <tr>
          <td><%- overview.a.name %></td>
          <td><%- overview.a.data %></td>
        </tr>
        <tr>
          <td><%- overview.b.name %></td>
          <td><%- overview.b.data %></td>
        </tr>
        <tr>
          <td><%- overview.c.name %></td>
          <td><%- overview.c.data %></td>
        </tr>
        <tr>
          <td><%- overview.d.name %></td>
          <td><%- overview.d.data %></td>
        </tr>
        <tr>
          <td><%- overview.e.name %></td>
          <td><%- overview.e.data %></td>
        </tr>
        <tr>
          <td><%- overview.f.name %></td>
          <td><%- overview.f.data %></td>
        </tr>
      </table>
    </div>
  </div>
</section>
