<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <title>About Us | MIS.W 公式サイト</title>
    <meta property="og:url" content="https://misw.jp/about" />
    <meta property="og:title" content="About Us | MIS.W 公式サイト" />
    <%- include('components/_header') %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <%- include('components/_menu') %>

      <main>
        <div class="top-margin"></div>
        <div>
          <a id="backToTop" href="#"></a>
        </div>

        <section id="mv">
          <img class="mv_picture -about" src="img/back_blue.png" alt="about_メイン" />
          <div class="mv_heading">
            <h1>About Us</h1>
            <h3>サークル紹介</h3>
          </div>
        </section>

        <div id="container" class="page_about">
          <%- include('components/_overview') %>
          <section id="anual" class="anual">
            <h1>
              <div class="main-ttl">
                <div class="main-ttl-letters">MIS.Wの一年</div>
                <div class="main-ttl-line"></div>
              </div>
            </h1>
            <div class="main-content flex">
              <div class="main-content-col -left">
                <table>
                  <tr>
                    <td>4月</td>
                    <td>新歓</td>
                  </tr>
                  <tr>
                    <td colspan="2">サークルについての説明や、簡単なデジタル創作を創作を体験できます。</td>
                  </tr>
                  <tr>
                    <td>5月</td>
                    <td>ゲームジャム</td>
                  </tr>
                  <tr>
                    <td colspan="2">少人数でチームをつくり、3日でゲームを完成させるイベントです。</td>
                  </tr>
                  <tr>
                    <td class="no-backcolor"></td>
                    <td>企画発表会</td>
                  </tr>
                  <tr>
                    <td colspan="2">早稲田祭や冬コミに向けた企画の発表を行います。</td>
                  </tr>
                  <tr>
                    <td>6月</td>
                    <td>研究発表会</td>
                  </tr>
                  <tr>
                    <td colspan="2">それぞれが作った創作物を研究会ごとに披露します。</td>
                  </tr>
                  <tr>
                    <td>8月</td>
                    <td>夏コミ</td>
                  </tr>
                  <tr>
                    <td colspan="2">MIS.Wでは、夏コミで画集と音楽CDを無料頒布しています。</td>
                  </tr>
                  <tr>
                    <td>9月</td>
                    <td>夏合宿</td>
                  </tr>
                  <tr>
                    <td colspan="2">避暑地へ行き、勉強会を行ったり、遊んだりします。</td>
                  </tr>
                  <tr>
                    <td>11月</td>
                    <td>早稲田祭</td>
                  </tr>
                  <tr>
                    <td colspan="2">企画で作ったゲームや同人誌などを外部の方に披露します。</td>
                  </tr>
                  <tr>
                    <td>12月</td>
                    <td>冬コミ</td>
                  </tr>
                  <tr>
                    <td colspan="2">夏同様、画集と音楽CDに加え、つくったゲームも無料頒布します。</td>
                  </tr>
                  <tr>
                    <td>3月</td>
                    <td>冬合宿</td>
                  </tr>
                  <tr>
                    <td colspan="2">勉強会を行ったり、スキーやスノボーを楽しみます。</td>
                  </tr>
                  <tr>
                    <td>不定期</td>
                    <td>講座</td>
                  </tr>
                  <tr>
                    <td colspan="2">様々な分野で初心者のために0から創作の仕方を教えてくれます。</td>
                  </tr>
                  <tr>
                    <td class="no-backcolor"></td>
                    <td>LT大会</td>
                  </tr>
                  <tr>
                    <td colspan="2">サークル員が短い時間で様々なテーマのことをプレゼンします。</td>
                  </tr>
                </table>
              </div>

              <div class="main-content-col -right flex-column">
                <img src="img/anual_1.png" alt="" />
                <img src="img/anual_2.png" alt="" />
                <img src="img/anual_3.png" alt="" />
              </div>
            </div>
          </section>
          <%- include('components/_kanbu') %>
        </div>
      </main>
      <%- include('components/_footer') %>
    </div>
    <%- include('components/_analytics') %>
  </body>
</html>
