<!doctype html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <title>入会方法 | MIS.W 公式サイト</title>
    <meta property="og:url" content="https://misw.jp/join" />
    <meta property="og:title" content="入会方法 | MIS.W 公式サイト" />
    <%- include('components/_header') %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <%- include('components/_menu') %>
      <main>
        <div class="top-margin"></div>
        <div>
          <a id="backToTop" href="#"></a>
        </div>
        <section id="mv">
          <img class="mv_picture -join" src="img/back_pink.webp" alt="join_メイン" />
          <div class="mv_heading">
            <h1>Join Us</h1>
            <h3>入会方法</h3>
          </div>
        </section>
        <div id="container">
          <section id="join">
            <h1>
              <div class="main-ttl">
                <div class="main-ttl-letters">Join Us</div>
                <div class="main-ttl-line"></div>
                <div class="main-ttl-letters">入会方法</div>
              </div>
            </h1>
            <div id="join" class="join join_content">
              <div class="join-procedure">
                <div class="join-procedure_step">
                  <h4 class="join-procedure_step_heading">MIS.W公式Discordサーバーに参加</h4>
                  <div class="join-procedure_step_content">
                    <div class="join-procedure_step_content_desc">
                      <p class="justified">
                        新歓時期に<a href="https://twitter.com/misw_info/">公式twitter</a
                        >がツイートする招待リンクを使ってMIS.Wの公式Discordサーバーに参加してください。<br />
                        <small>
                          ※2023年度は~5/3まで新歓をやっています。<br />
                          ※「新歓時期以外に参加したい場合」「参加方法が分からない場合」などは、下部のお問い合わせよりご連絡ください。<br />
                        </small>
                      </p>
                    </div>
                    <div>
                      <a href="<%- join.url %>" target="_blank" rel="noopener noreferrer">
                        <img src="<%- join.image %>" alt="新歓2023スケジュール" />
                      </a>
                    </div>
                  </div>
                </div>
                <div class="join-procedure_step">
                  <h4 class="join-procedure_step_heading">Googleフォームを提出</h4>
                  <div class="join-procedure_step_content">
                    <div class="join-procedure_step_content_desc">
                      <p class="justified">
                        MIS.Wへの入会手続きは、MIS.W専用のポータルサイト「<a href="https://portal.misw.jp/signup" target="_blank" rel="noopener noreferrer"
                          >MISW Portal</a
                        >」から行います。<br />
                        MISW Portalにアクセス後、画面の指示に従って会員登録フォームから情報を入力してください。<br />
                        <small> ※MIS.WのDiscordサーバーに参加していることを前提としています。<br /> </small>
                      </p>
                      <p class="join-main_notice">
                        早稲田大学以外の大学（インカレ）の方については、事務手続き上の関係で一度面談を行う必要があります。<br />
                        お手数ではございますが、会員登録の前に一度オンライン活動にお越しいただき、その旨をお申し付けください。<br />
                      </p>
                    </div>
                    <div>
                      <img src="img/portal-signup.webp" alt="MIS.W Portal登録画面" class="join-procedure_step_content_img" />
                    </div>
                  </div>
                </div>
                <div class="join-procedure_step">
                  <h4 class="join-procedure_step_heading">メールの認証 &amp; 入会費のお支払い</h4>
                  <div class="join-procedure_step_content">
                    <div class="join-procedure_step_content_desc">
                      <p class="justified">
                        会員登録フォームに入力したメールアドレス宛にアカウント認証用のメールが送信されます。<br />
                        メールの指示に従ってアカウントの認証を行ってください。<br />
                        アカウントの認証後、入会費の支払いに移ります。<br />
                        画面の指示に従って、MIS.Wの銀行口座へ<span>入会費<%- overview.f.a.data %></span>の振り込みを行ってください。<br />
                        <small> ※振込手数料はご自身での負担となりますのでご了承ください。<br /> </small>
                      </p>
                    </div>
                    <div>
                      <img src="img/email.webp" alt="メール" class="join-procedure_step_content_img" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
      <%- include('components/_footer') %>
    </div>
  </body>
</html>
