<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <title>作品紹介 | MIS.W 公式サイト</title>
    <meta property="og:url" content="https://misw.jp/works" />
    <meta property="og:title" content="作品紹介 | MIS.W 公式サイト" />
    <%- include('components/_header') %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <%- include('components/_menu') %>

      <main>
        <div class="top-margin"></div>
        <div>
          <a id="backToTop" href="#"></a>
        </div>

        <section id="mv">
          <img class="mv_picture -works" src="img/back_green.png" alt="works_メイン" />
          <div class="mv_heading">
            <h1>Works</h1>
            <h3>作品紹介</h3>
          </div>
        </section>

        <div id="container">
          <section id="works">
          </section>
          <iframe id="works-frame" src="<%- works.url %>#<%- works.id %>">
          </iframe>
        </div>
      </main>
      <%- include('components/_footer') %>
    </div>
  </body>
</html>
